body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  color: #757575;
  letter-spacing: 0.03em;
  font-size: 14px;
}

/* Основной цвет текста #757575 */
/* Акцент #2196F3 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

/* Хедер !!!*/
.container.header-container{
  display: flex;
  align-items: center;
}

/* Логотип */
.logo-header {
  display: flex;
  margin-right: 93px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000;
  text-decoration: none;
}

.logo-footer {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #ffffff;
  text-decoration: none;

  margin-bottom: 20px;
}

.logo-accent {
  color: var(--accent-color);
}
.logo-accent-footer {
  color: var(--primary-white-color);
}

/* Навигация сайта */
/* main-nav */
.main-nav{
  display: flex;
  align-items: center;  
}

/* site-nav */
.site-nav {
  display: flex;
  padding: 0;
  border: 0;
}

.site-nav .link {
  
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
  text-decoration: none;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .item + .item {
margin-left: 50px;
}

/* contacts */
.contacts-header {
  display: flex;
  margin-left: auto;

  padding: 0;
  border: 0;
  margin-bottom: 0;
}

.contacts-header .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  text-decoration: none;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.contacts-header .link:hover,
.contacts-header .link:focus {
  color: var(--accent-color);
}

.contacts-header .item + .item{
  margin-left: 50px;
}

/*Герой*/
.hero {
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  margin-top: 0;
  margin-bottom: 30px;
}

.hero-button {
  display: inline-block;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
  /* text-align: center; */

  padding: 10px 32px;
  border-radius: 4px;
  /* margin-left: auto;
  margin-right: auto; */
}

/* Основные секции */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
  padding-bottom: 0;
}

.section-title.feature{
/* margin-bottom: 0;
color: rgb(30, 255, 0); */
display: none;
}

.section.works {
  padding-top: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  outline: 2px solid red;
}

/*Наши особенности*/
.feature-list{
  display: flex;
  flex-wrap: wrap;
}

.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
}

.feature-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  margin-top: 0;
  margin-bottom: 0;
}

.feature-list .item{
  width: 270px;
  margin-right: 30px;
  /* width:calc((100%-90px) / 4); */
}

.feature-list .item:nth-child(4n){
margin-right: 0;
}

/* Чем мы занимаемся */
.works-list{
  display: flex;
}

.works-list .item{
  margin-right: 30px;
}

.work-list .item:nth-child(3){
margin-right: 0;
}

/*Наша команда*/
.section.team{
  background-color: #F5F4FA;
}

.team-list{
  display: flex;
  flex-wrap: wrap;
}

.team-list .item{
  background-color:var(--primary-white-color);

  margin-right: 30px;
  width: 270px;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list .item:nth-child(4){
  margin-right:0;
}

.team-list .name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-top: 0;
  margin-bottom: 10px;
}

.team-list .photo {
  margin-bottom: 30px; 
}

.team-list .position {
  font-size: 16px;
  line-height: 1.19;

  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}


/* Страница Портфолио */

/* Фильтры */

.filters-button {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  border-radius: 4px;
  padding: 6px 12px;
  border: none;

  text-align: center;
}

.filters {
  display: flex;
}

.filters .item + .item {
  margin-left: 8px;
}

.filters-button:hover,
.filters-button:focus,
.filters-button.current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Примеры работ */
.projects{
  display: flex;
  flex-wrap: wrap;
}

.our-projects{
  display: none;
}

.projects-item{
  margin-right: 30px;
  width: 370px;
  /* width:calc((100%-60px) / 3); */
}

.projects-item:nth-child(3n){
  margin-right: 0;
}

.section-projects {
  padding-top: 100px;
  padding-bottom: 94px;
}

.projects-decor {
  text-decoration: none;
  outline: 2px solid royalblue;  
  display: inline-block;  
}

.projects-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2.00;
  letter-spacing: 0.06em;

  margin-top: 0;
  margin-bottom: 4px;
}

.projects-desc {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;

  margin-top: 0;
  margin-bottom: 20px;
}

.projects-picture {
  /* display: inline-block; */
  margin-bottom: 20px;
}

h2,
p{
  outline: 2px solid royalblue;
}

/* Футер */
.footer {
  background-color: #2f303a;
}

.footer .container{
  padding-top: 60px;
  padding-bottom: 60px;
}

.link-adress {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  margin-bottom: 9px;
}
.link-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  
